<h1>Thank you for your purchase</h1>

<p>Delightful is a female-founded company that strives to make life sweeter. Today and everyday, we empower women to grow and achieve success not only within our company, but as students, hardworking moms, and everything in between. We are always looking for new ways to give back to our communities and our planet!
</p>


 <div class="item">
    <img class="img-fluid" src="/img/itemslides/item1.jpg" alt="">
  </div>