
{{#if pageTitle}}
<h1 class="mukta">{{pageTitle}}</h1>
{{/if}}
{{#if image}}

<img src="/img/{{image}}"class="img-fluid" alt="">
{{/if}}
{{#if description}}
<p class="mukta-bold">{{description}}</p>
{{/if}}